.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.skills-title {
  position: relative;
}

.skills-title h1 {
  text-align: center;
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 400;
}

.skills-title img {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 6%;
  z-index: -1;
}

.skill-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type {
  font-size: 32px;
  font-weight: 300;
  line-height: 55px;
  text-align: center;
  background: linear-gradient(270deg, #c2aff0 10%, #90e0ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill {
  font-size: 22px;
  font-weight: 200;
  line-height: 35px;
  text-align: center;
}
