.navbar {
  width: 100%;
  margin: 0px 10px 10px 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #050f0f;
  z-index: 1;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  padding: 0px 50px;
}

.nav-menu li {
  padding: 20px 20px;
  transition: transform 0.3s, color 0.3s;
}

.nav-menu li:hover {
  transform: scale(1.05);
  color: #90e0ef;
  cursor: pointer;
}

.nav-connect {
  padding-right: 120px;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
  color: #c2aff0
}
